:root {
        --primary-color: #c72727;
        --secondary-color: #f99500;
        --light-color: #f3f3f3;
        --dark-color: #333;
        --max-width: 1100px;
        --animate-speed: 2s;
    }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: azure;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Page Colors */
  #page-1 { background: var(--page-1-color) }
  #page-2 { background: var(--page-2-color) }
  #page-3 { background: var(--page-3-color) }
  #page-4 { background: var(--page-4-color) }

  /* Navigation */
  #main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  #main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
  }
  
  .logo {
    width: 80px;
  }
  
  #main-nav ul {
    justify-self: end;
    display: flex;
  }
  
  #main-nav ul li a {
    padding: 0.75rem;
    font-weight: bold;
  }
  
  #main-nav ul li a.current {
    background: var(--primary-color);
    color: #fff;
  }
  
  #main-nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
  }
  
  #main-nav .social {
    justify-self: center;
  }
  
  #main-nav .social i {
    color: #777;
    margin-right: .5rem;
  }
  
  /* Page Animation */
  #page-1 h1 {
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
  }
  
  #page-1 p {
    transform: translateX(-1800px);
    animation: text var(--animate-speed) forwards ease-in 1s;
  }

  /* Header */
  

  
  /* Keyframes */
  @keyframes heading {
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes text {
    to {
      transform: translateX(0);
    }
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: azure;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
    color: #180202f9;
  }
  
  .page p {
    font-size: 1.3rem;
    color: rgb(19, 140, 246);
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
  }
  
  .btn:hover,
  .btn-dark {
    background: #333;
    color: #fff;
  }
  
  .btn-dark:hover {
    background: #f4f4f4;
    color: #333;
  }
  
  .category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    margin: .5rem 0;
  }
  
  /* img {
    width: 100%;
  } */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
  }
  
